body{
  margin: 0;
  text-align: center;
  font-family: poppins, Verdana, Geneva, Tahoma, sans-serif;
}

h2, h3{
  
}

img{
  width: 100px;
  border-radius: 100px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content:end;
  height: 750px ;
  width: 1450;
  padding-bottom: 50px;
  background-image: url(images/Maduraibackground.webp);
  background-size: cover;
}

#hero-title, #hero-subtext{
  align-self: center;
  color: #ffffff;
  background-color: #332722;
  border: 3px solid #333333;
  border-radius: 6px;
  padding: 6px 16px;
}

#hero-subtext{
  color: black;
  background-color: #F2CABD;
}

.Idcard{
  display: flex;
  width: 500px;
  align-items:center;
  justify-content:space-around;
  margin: 50px auto 50px auto;
  background-color: #F2CABD;
  box-shadow: -6px 6px #332722;
  border-radius: 6px ;
  text-align: left;
  padding: 20px;
}

#profile-img{
  width: 150px;
}